<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS - TEMPLATE</title>
</head>

<body>
    <h1>Ejemplo de configuración de un template con node</h1>


    <ul>
        <% personas.forEach(function(persona) { %>
            <li >
                <span>
                    <%= persona.nombre %>
                </span>
            </li>
            <% }); %>
    </ul>


</body>

</html>
